.Site-header,
.Site-footer {
  flex: none; /* 2 */
  color: #69808c;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  font-family: "Open Sans","sans-serif";
}

.ui.navbar.menu a.item{
  color: #69808c;
}

h3,a.item,li {
  font-family: "Open Sans","sans-serif";
  font-size: 1.4rem;
}

.ui.page {
  font-family: "Open Sans","sans-serif";
  color: #69808c;
}

a.item {
  color: #69808c;
}

p {
  font-size: 1.4rem;
}

p.archive-meta {
  color: #69808c;
  font-size: 1.4rem;
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

blockquote {
  color: #69808c;
  font-style: italic;
}
