---
layout: layouts/main.liquid
---

<div>
  <figure>
    <img class="ui large left floated image" src="img/{{ banner-filename }}"
         alt="Bhagwa Basa">
  </figure>
  <p
    style={{
      marginBottom: "1 em",
    }}
  >
    {{ content }}
  </p>
  <p>
    You can reach me at
    <br/>
    <a title="Email" href="mailto:sidharth3930@gmail.com">
      sidharth3930[at]<span style="display: none">yup-</span>gmail.com
    </a>&nbsp;|&nbsp;<a title="Twitter" href="https://twitter.com/_subsid">
      Twitter
    </a>&nbsp;|&nbsp;
    <a title="LinkedIn" href="https://linkedin.com/in/subsid">
      LinkedIn
    </a>&nbsp;|&nbsp;
    <a title="Github" href="https://github.com/subsid">
      Github
    </a>
  </p>
</div>
