---
layout: layouts/main.liquid
---

<div class="ui basic notes fluid segment">
  <iframe id="inlineFrameExample"
    onload="window.setIframeHeight(this.id)"
    title="Inline Frame Example"
    class="notes"
    scrolling="no"
    frameBorder="0"
    src={{ src }}
  </iframe>
</div>
