.ui.navbar.menu a.item{
  color: #69808c;
}

h3,a.item,li {
  font-family: "Open Sans","sans-serif";
  font-size: 1.4rem;
}

.ui.page {
  font-family: "Open Sans","sans-serif";
  color: #69808c;
}

a.item {
  color: #69808c;
}

p {
  font-size: 1.4rem;
}

